[Desktop Entry]
Type=Application
Name=Kakoune
GenericName=Text Editor
Comment=Edit text files
Icon=kakoune
TryExec=kcr
Exec=kcr open %F
Terminal=false
StartupNotify=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;
